@page "/Generator"
@using Models
@inject VismaBlazor.HttpClientPost HttpClientPost
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Authorization
@using Radzen.Blazor;
@using Radzen;
@using System;
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [StreamRendering]
@attribute [Authorize]



<PageTitle>Generator</PageTitle>


<div  class="pb-2">
    <RadzenCard class="text-center ">
        <div class="row">
            <div class="col-md-12 ">
                <div class=" d-inline-flex">
                    <div class=" pe-4">
                        <RadzenButton id="FaneKnappManuelt" class="bg-danger" Click="@vismanuell"> Skriv inn liste med ID </RadzenButton>
                    </div>
                     
                    <div class=" ps-4">
                        <RadzenButton id="FaneKnappID" class="bg-danger" Click="@visantid"> Autogenerer antall ID </RadzenButton>
                    </div>
                </div>

            @if (vismanuellgen == true) {

                <div class="px-4">
                    <RadzenAlert Title="Skriv inn NøkkelID manuelt"
                        AlertStyle="AlertStyle.Info"
                        Variant="Variant.Flat"
                        Shade="Shade.Lighter"
                        AllowClose=false>
                        F.eks: 1,2,3,4 eller 3,8,16,3,1
                    </RadzenAlert>
                </div>
               
              
                <div class="p-4">        
                           <textarea 
                               id="generatormanuelt"
                               value="@flereids" @onchange="@((args) => flereids = args?.Value?.ToString())" 
                               class=" border-1 border rounded-3 shadow-sm w-100 h-50 "
                               rows="8" 
                               style="resize:none" 
                               placeholder=" F.eks: 1,3,6,20,11"   />    
                </div>

                <div class="px-4" >
                        <RadzenAlert Title="Skriv inn domene for mail"          
                            AlertStyle="AlertStyle.Info" 
                            Variant="Variant.Flat" 
                            Shade="Shade.Lighter"
                            AllowClose=false />
                </div>
                 
                <div> 
                    <RadzenTextBox id="generatordomainManuelt" 
                        Value="@domain" 
                        Change=@(args => domain = args)
                        Placeholder="F.eks: Generator.com" 
                        style="width: 200px" />
                </div>

                <div class="col-md-12 p-2 text-center">                      
                    <RadzenButton id="genererKnapp" Text="Generer" ButtonStyle="ButtonStyle.Success" Click="@SendIdManuell" style="width: 25%" />
                </div>
              } 

                @if (visantidgen == true)
                {
                   
                    <div>
                        <RadzenAlert Title="Skriv inn antall ID som skal genereres"
                            AlertStyle="AlertStyle.Info"
                            Variant="Variant.Flat"
                            Shade="Shade.Lighter"
                            AllowClose=false>
                            F.eks: 10
                        </RadzenAlert>
                    </div>

                    <div class="col-md-12 p-2" id="generatorantalldiv">
                        <RadzenNumeric id="generatorantall" TValue="int" Value="@ids" Change=@(args => ids = args) Placeholder="F.eks: 10" style="width: 200px" />
                    </div>

                    <div>
                        <RadzenAlert Title="Skriv inn domene for mail"
                            AlertStyle="AlertStyle.Info"
                            Variant="Variant.Flat"
                            Shade="Shade.Lighter"
                            AllowClose=false />
                    </div>


                    <div>
                        <RadzenTextBox id="generatordomainID"
                                   Value="@domain2"
                                   Change=@(args => domain2 = args)
                                   Placeholder="F.eks: Generator.com"
                                   style="width: 200px" />
                </div>

                <div class="col-md-12 p-2 text-center">                      
                    <RadzenButton id="genererKnappID" Text="Generer" ButtonStyle="ButtonStyle.Success" Click="@SendIdAuto" style="width: 25%" />
                </div>
                }

            </div>
         </div>
                
    </RadzenCard>
</div>


@if (load == true)
{
    <RadzenAlert Text="Laster inn data" Severity="Severity.Info" AlertStyle="AlertStyle.Info" />
}

@if (error == true)
{
    <RadzenAlert Text="Vennligst skriv i ett av feltene" Severity="Severity.Warning" AlertStyle="AlertStyle.Danger" AllowClose="false" />
}

@code {
    private int ids;
    private string? flereids { get; set; }
    private string? value;
    private string? domain { get; set; }
    public string? domain2 { get; set; }    
    private Boolean visantidgen { get; set; }
    private Boolean vismanuellgen { get; set; }
    private Boolean? error { get; set; }
    private Boolean load { get; set; }
    

    void OnChange(string value)
    {
        ids = int.Parse(value);

    }

    protected override async Task OnInitializedAsync()
    {
        
      vismanuellgen = true;
        
    }

    private void visantid() {
        visantidgen = true;
        vismanuellgen = false;

    }

    private void vismanuell() {
        vismanuellgen = true;
        visantidgen = false;

    }

    public IdList[]? idobject;

    public async Task SendIdManuell()
    {

        if (domain != null && flereids != null)
        {
            load = true;

            
            
            await HttpClientPost.PostFlereId(flereids, domain);
            NavigationManager.NavigateTo("/Resultat");
            
        }
        else {
            error = true;
        }
    }

    public async Task SendIdAuto()
    {

       
        if (domain2 != null && ids != 0)
        {
            load = true;

                

            await HttpClientPost.Post(ids, domain2);
            NavigationManager.NavigateTo("/Resultat");
        }
        else
        {
            error = true;
        }

    }

    }

