@page "/"
@inject IConfiguration config
@inject VismaBlazor.HttpClientPost HttpClientPost
@inject NavigationManager NavigationManager
@using CsvHelper
@using Newtonsoft.Json
@using Radzen
@using Radzen.Blazor
@using Microsoft.JSInterop;
@using System.IO
@using System.Globalization
@using System.Text
@using Microsoft.AspNetCore.Components.Forms;
@using Models

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [StreamRendering]

@using System;
@using System.Collections.Generic;
@using System.Linq;
@using VismaBlazor.Models
 

<PageTitle>Importer fil</PageTitle>

@*
Skal inneholde en knapp for å laste opp filer, og en knapp for å starte importen
Denne skal også sende filen til serveren og genere data fra filen.
Dataen skal så vises i resultat page som åpnes etter importen er ferdig.
*@


<div class="d-flex justify-content-between form-control">
<InputFile OnChange="LoadFiles" />
    <div class="gap-6">
    <button class="btn btn-primary" @onclick="() => Opplastning(file)">Last opp</button>

       
      
    </div>
</div>




@if (errors.Count > 0)

{
    <h2>Errors</h2>
    <ul class="text-danger">
        @foreach (var error in errors)
        {
            <li>@error</li>
        }
        </ul>
}

@if (BrukerRes != null && BrukerRes.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fornavn</th>
                <th>Etternavn</th>
                <th>Telefon</th>
                <th>Brukernavn</th>
                <th>Passord</th>
                <th>E-post</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bruker in BrukerRes)
            {
                <tr>
                    <td>@bruker.Id</td>
                    <td>@bruker.Fornavn</td>
                    <td>@bruker.Etternavn</td>
                    <td>@bruker.Tlf</td>
                    <td>@bruker.Brukernavn</td>
                    <td>@bruker.Passord</td>
                    <td>@bruker.Epost</td>
                </tr>
            }
        </tbody>
    </table>
    
    <div class="d-flex justify-content-end">
        <div class="gap-6">
            <button class="btn btn-success" @onclick="() => EksporterJson()">JSON</button>
            <button class="btn btn-success" @onclick="@( () => Eksporter("csv") )">CSV</button>
            <button class="btn btn-success" @onclick="@( () => Eksporter("txt") )">TXT</button>
        </div>
    </div>
} 
else
{
    <p>Ingen data å vise... </p>  
}

@code
{
    public List<BrukerRespons>? BrukerRes;
    public long maxFileSize = 1024 * 1024 * 3;  // 3MB  List<Ansatte> ansatteListe = new List<Ansatte>();
    private List<string> errors = new List<string>();
    public IBrowserFile? file;
    public Random random = new Random();




    // Inject IJSRuntime
    [Inject]
    public IJSRuntime JSRuntime { get; set; }

    //1
    public async Task LoadFiles(InputFileChangeEventArgs e)
    {
        try
        {
            if (e.File != null)
            {
                file = e.File;
                Console.WriteLine($"Filen '{file.Name}' ble valgt.");
            }
            else
            {
                Console.WriteLine("Ingen fil ble valgt.");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Feil ved lasting av fil: {ex.Message}");
            throw; // Kast unntaket videre for å indikere at handlingen mislyktes
        }
    }


    //2
    //Her blir Json-Deserializerobject tatt i bruk..
    // Stream -> Reader -> Deserialize -> Visualiser.
    public async Task<List<BrukerRespons>> FileJson(IBrowserFile file) //Json
    {
        // Sjekker om filen er null. Returnerer tom liste, hvis den er tom.
        if (file is null)
        {
            return new List<BrukerRespons>();
        }

        //Try catch. Åpner strømmen og kopierer innholdet ved bruk av memorystream midlertidig.
        try
        {

            using (MemoryStream memoryStream = new MemoryStream())
            {
                Console.WriteLine($"Filen '{file.Name}' Laster opp..");
                await file.OpenReadStream().CopyToAsync(memoryStream);
                memoryStream.Position = 0;

                //Deserialisering av JSON ved bruk av streamreader til å lese json innhold fra memorystreamen.
                //Vi bruker Newtonsoft.Json- biblioteket for å deserialisere til en liste og returneres.
                using (StreamReader reader = new StreamReader(memoryStream))
                {

                    var json = await reader.ReadToEndAsync();
                    BrukerRes = JsonConvert.DeserializeObject<List<BrukerRespons>>(json);

                    return BrukerRes;                 
                }

            }

        }
        catch (Exception ex)
        {
            errors.Add($"File: {file.Name} Error: {ex.Message}");
            throw;
        }
    }

    //2
    // SKAL skille kommaer uavhengig av filtyper. Men husk å endre dette i metoden Import(). Klarer å skille i csv filer, men ikke Json.
    public async Task<List<BrukerRespons>> Files(IBrowserFile file)
    {

        if (file is null)
        {
            return new List<BrukerRespons>();
        }

        List<BrukerRespons> ansatteList = new List<BrukerRespons>();
        Console.WriteLine($"Filen '{file.Name}' Laster opp..");
        try
        {
            using var stream = file.OpenReadStream(maxFileSize); //Scanner sammenlignet med Java-scanner
            using var reader = new StreamReader(stream); //Leser
            string? line;

            string? fornavn = "fornavn";
            string? etternavn = "etternavn";
            int? tlf = 2;
            string? brukernavn = "brukernavn";
            string? passord = "passord";
            string? epost = "epost";

            while ((line = await reader.ReadLineAsync()) != null) //Leser linje for linje
            {

                var column = line.Split(','); //Leser linje for linje, men splitter ulike verdier med kommaer i
                if (int.TryParse(column[0], out var id) && int.TryParse(column[3], out var telefon)) //  Id = int.Parse(column[0]) Kan også gjøres istedet for å bruke ( if (int.TryParse(column[0], out var id)) )
                {
                    var ansatt = new BrukerRespons
                        {
                            Id = id,
                            Fornavn = fornavn,
                            Etternavn = column[2],
                            Tlf = telefon,
                            Brukernavn = column[4],
                            Passord = column[5],
                            Epost = epost,
                        };

                    ansatteList.Add(ansatt);

                }
            }

        }

        catch (Exception ex) // Feilmeldinger
        {
            errors.Add($"Feil ved innlesing av fil: {file.Name}. Feilmelding: {ex.Message}");
        }

        return ansatteList;

    }




    //3
    //Sjekker om filen samsvarer med riktige typer-filer
    public async Task Opplastning(IBrowserFile file)
    {
        try
        {

            if (file != null)
            {
                var fileExtension = Path.GetExtension(file.Name)?.ToLower();


                if (fileExtension == ".txt" || fileExtension == ".csv") 
                {
                    BrukerRes = await Files3(file);
                    Console.WriteLine($"Filen '{file.Name}' er ferdig lastet opp");

                }
                else if (fileExtension == ".json")
                {
                    BrukerRes = await Files3(file);
                    Console.WriteLine($"Filen '{file.Name}' er ferdig lastet opp.");
                }

                else if (fileExtension != ".csv" || fileExtension != ".json" || fileExtension != ".txt")
                {
                    errors.Add("Det må være en JSON-, CSV eller TXT-fil.");
                    Console.WriteLine("Det må være en JSON-, CSV eller TXT-fil.");
                }


            }
            else if (file == null)
            {
                Console.WriteLine("Kan ikke importere fordi ingen vil er valgt");
            }
            else
            {
                Console.WriteLine("123123");
            }
        }
        catch (Exception ex)
        {
            errors.Add($"Error: {ex.Message}");
            throw;
        }
    }


    public async Task Eksporter(string fileExtension)
    {
        try
        {
            if (BrukerRes != null && BrukerRes.Any())
            {
                string fileName = $"data.{fileExtension}";

                // Eksporter til CSV-fil
                if (fileExtension.ToLower() == "csv")
                {

                    using (StreamWriter writer = new StreamWriter(fileName))
                    {
                        await writer.WriteLineAsync("id,fornavn,etternavn,tlf,brukernavn,passord,epost");
                        foreach (var bruker in BrukerRes)
                        {
                            string linje = $"{bruker.Id},{bruker.Fornavn},{bruker.Etternavn},{bruker.Tlf},{bruker.Brukernavn},{bruker.Passord},{bruker.Epost}";
                            await writer.WriteLineAsync(linje);
                        }

                    }
                    string fileContent = await File.ReadAllTextAsync(fileName);

                    await JsRuntimeMethod(fileName, fileContent);

                }
                // Eksporter til TXT-fil
                else if (fileExtension.ToLower() == "txt")
                {

                    using (StreamWriter writer = new StreamWriter(fileName))
                    {
                        await writer.WriteLineAsync("id,fornavn,etternavn,tlf,brukernavn,passord,epost");
                        foreach (var ansatt in BrukerRes)
                        {

                            string linje = $"{ansatt.Id},{ansatt.Fornavn},{ansatt.Etternavn},{ansatt.Tlf},{ansatt.Brukernavn},{ansatt.Passord},{ansatt.Epost}";
                            await writer.WriteLineAsync(linje);
                        }
                    }
                    string fileContent = await File.ReadAllTextAsync(fileName);

                    await JsRuntimeMethod(fileName, fileContent);

                }

                Console.WriteLine($"Eksportert til {fileExtension.ToUpper()}.");
            }
            else
            {
                Console.WriteLine($"Ingen data å eksportere.");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Feil ved eksportering: {ex.Message}");
        }
    }

    public async Task EksporterJson()
    {
        try
        {
            if (BrukerRes != null && BrukerRes.Any())
            {
                // Opprett en liste med anonyme objekter basert på ansatte-data
                var jsonData = BrukerRes;

                // Serialisere listen til JSON
                var jsonString = JsonConvert.SerializeObject(jsonData);

                await JsRuntimeMethod("data.json", jsonString);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Feil ved eksportering til JSON: {ex.Message}");
        }
    }

    public async Task JsRuntimeMethod(string type, string convert)
    {
        if (JSRuntime != null)
        {
            await JSRuntime.InvokeVoidAsync("saveAsFile", type, convert);
            Console.WriteLine($"Vellykket med eksporteringen! Antall ansatte: {BrukerRes.Count}.");
        }
        else
        {
            Console.WriteLine("JSRuntime er null. Kan ikke eksportere til JSON.");
        }
    }

    //Bekreftelse på at det visualiseres --- (Brukes til testing)
    public bool Visualisering()
    {
        if (BrukerRes != null && BrukerRes.Any())
        {
            Console.WriteLine($"Filen '{file.Name} 'Visualiseres!");
            Console.WriteLine($"Visualisering OK! Antall ansatte som vises: '{BrukerRes.Count}'");
            return true;


        }

        else
        {
            Console.WriteLine("Ingen data å vise.");
            return false;
        }
    }



    public async Task<List<BrukerRespons>> Files3(IBrowserFile file)
    {

        if (file is null)
        {
            return new List<BrukerRespons>();
        }

        List<BrukerRespons> idListe = new List<BrukerRespons>();
        Console.WriteLine($"Filen '{file.Name}' Laster opp..");

        try{

            using var stream = file.OpenReadStream(); //Scanner sammenlignet med Java-scanner
            using var reader = new StreamReader(stream); //Leser
            string? line;
            while ((line = await reader.ReadLineAsync()) != null) //Leser linje for linje
            {
                var ids = line.Split(',');

                foreach (var idStr in ids)
                {
                    if (idListe != null)
                    {
                        var bruker = new BrukerRespons
                            {
                               
                           };

                        
                    
                    idListe.Add(bruker);
                    Console.WriteLine($"Ansatte ID {ids} lagt til.");
                }
            }
        }
        
}
        catch (Exception ex)
        {
            errors.Add($"Feil ved innlesing av fil: {file.Name}. Feilmelding: {ex.Message}");
        }

        return idListe;

    }

}